﻿@{
    ViewData["Title"] = "Welcome";
}

<link rel="stylesheet" href="../wwwroot/lib/fonts/KFOmCnqEu92Fr1Mu72xKOzY.woff2">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../wwwroot/js/popper-min.js"></script>
<script src="../wwwroot/js/bootstrap.js"></script>


<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="users/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="users/Create">Register</a>
        </li>
    </ul>
</div>